# Database settings
MM_DB_NAME=mattermost
MM_DB_USER=mattermost
MM_DB_PASSWORD=mattermost

# Domain name for Mattermost (e.g., mattermost.example.com)
MM_DOMAIN=mattermost.example.com

PGADMIN_EMAIL=admin@domain.tld
PGADMIN_PASSWORD=change-me-now

# --- Backup Configuration ---
S3_ENDPOINT=https://fra1.digitaloceanspaces.com
S3_BUCKET=dein-bucket-name
S3_REGION=fra1
S3_ACCESS_KEY=dein_access_key
S3_SECRET_KEY=dein_secret_key

# Local Retention
BACKUP_RETENTION_DAYS=1
S3_RETENTION_DAYS=40
